# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
.expo
.next

# turbo
.turbo

# environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# local sensitive test assets
test_receipt.*

# Prisma
prisma/migrations

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/
